@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime

<PageTitle>Animation Samples</PageTitle>
<div class="page">
        <Animate Animation="Animations.SlideRight" DelayMilliseconds="1200" DurationMilliseconds="1200">

    <div class="sidebar shadow">
        <NavMenu />
    </div>
    </Animate>
    <main>
        <div class="top-row px-4 appbar shadow">

            <button class="btn btn-sm btn-light" @onclick="ThemeToggle">
               @($"Dark: {isMudDarkMode}")
            </button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
@code
{
    private bool isMudDarkMode;

    private bool GetDarkThemeValue() => true;

    protected override void OnInitialized()
    {
        isMudDarkMode = GetDarkThemeValue();
        SetSyncTheme(isMudDarkMode);
    }
    private void ThemeToggle()
    {
        isMudDarkMode = !isMudDarkMode;
        SetSyncTheme(isMudDarkMode);
    }

    private void SetSyncTheme(bool isSyncDark)
    {
        if (isSyncDark)
        {
            JSRuntime.InvokeAsync<string>("setTheme", "bootstrap5-dark");
        }
        else
        {
            JSRuntime.InvokeAsync<string>("setTheme", "bootstrap5");
        }
    }
}
